# App
NODE_ENV=production
PORT=3000

# MongoDB
MONGO_URI=mongodb://admin:secret@mongo:27017/promo_manager?authSource=admin

# ClickHouse
CH_HOST=http://clickhouse:8123
CH_USER=admin
CH_PASSWORD=secret
CH_DB=promo_analytics

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=secret

# JWT
JWT_ACCESS_SECRET=any_long_random_string_here_32chars
JWT_REFRESH_SECRET=another_long_random_string_here!!
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d